*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header{
    position: absolute;
    background-color: rgb(236, 183, 205);
    width: 100%;
    height: 200px;

}

main{
    position: relative;
    /*background-color: rgb(241, 161, 188);*/
    width: 900px;
    height: 1000px;
    float: left;
    
}

.card{
    background-color: rgb(221, 150, 179);
    width: 900px;
    box-shadow: 3px 3px 15px rgb(0,0,0,0.25); 
    margin-bottom: 50px;  
}

div#imagem{
    position: absolute;
    width: 300px;
    height: 350px;
    background-image: url(../img/me.jpeg);
    background-position: center;
    background-size: cover;
}

div#card-pessoal{
    position: relative;
    margin-top: 20px;
    height: 350px;
    
}

div#card-pessoal span{
    position: absolute;
    color: snow;
    margin-left: 320px;
    font-size: 18px;
}

.card-titulo{
    position: absolute;
    margin-top: 30px;
    margin-left: 85px;
    font-size: 28px !important;
    font-weight: bold;
    color: snow;

}

div#card-pessoal span#subtitulo{
    margin-top: 45px;
    color: rgba(255, 250, 250, 0.671);
    font-size: 18px;
    font-weight: lighter;
}

div#linha{
    width: 455px;
    position: absolute;
    margin-top: 55px;
    margin-left: 320px;
    border: 1px solid rgba(255, 250, 250, 0.671);

}

div#card-pessoal footer{
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-left: 300px;
    width: 600px;
    height: 60px;
    align-items: center;
    background-color: snow;
    bottom: 0px;
}

div#card-pessoal footer a{
    width: 120px;
    color:  rgb(236, 183, 205);
    height: 60px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
}

div#card-sobre{
    height: 260px;
}

.linha{
    position: absolute;
    border: 1px solid rgba(255, 250, 250, 0.671);
    width: 730px;
    margin-left: 85px;
    margin-top: 75px;
}

.text-card{
    text-align: justify;
    font-size: 22px;
    line-height: 26px;
    font-weight: lighter;
    color: snow;
}

div#card-sobre p{
    position: absolute;
    width: 730px;
    margin-left: 85px;
    margin-top: 100px;
}

div#card-formacao{
    height: 500px;
}

div#card-habilidades{
    height: 520px;
}

div#card-formacao ul{
    position: absolute;
    margin-left: 130px;
    margin-top: 100px;
}

div#card-formacao ul li{
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
    color: snow;
}

div#card-formacao ul span{
    font-weight: bold;
    font-size: 22px;
    color: snow;
}

div#card-formacao ul p{
    width: 670px;
    margin-bottom: 30px;
}

h1#nome{
    font-size: 30px;
    font-weight: bold;
    color:snow;
    margin-top: 5%;
    
}

h2#cargo{
    font-size: 25px;
    font-weight: lighter;
    color:snow;
    
}

div#main{
    position: absolute;
    width: 730px;
    height: 300px;
    margin-left: 85px;
    margin-top: 100px;
    display: flex;
    flex-flow: row wrap;
    padding-left: 20px;
}

.coluna-50{
    width: 50%;
    height: 80px;
}

div#main span{
    font-size: 22px;
    font-weight: bold;
    color: snow;
}

.status-100{
    width: 236px;
    height: 15px;
    border-radius: 22px;
    background-color:  rgba(255, 250, 250, 0.671);
    margin-top: 15px;
}

div#status-org{
    width: 224.2px;
    height: 15px;
    background-color: rgb(236, 58, 132);
    border-radius: 22px;
}

div#status-con{
    width: 146.32px;
    height: 15px;
    background-color: rgb(236, 58, 132);
    border-radius: 22px;
}

div#status-fep{
    width: 35.4px;
    height: 15px;
    background-color: rgb(236, 58, 132);
    border-radius: 22px;
}

div#status-teg{
    width: 47.2px;
    height: 15px;
    background-color: rgb(236, 58, 132);
    border-radius: 22px;
}

div#status-per{
    width: 165.2px;
    height: 15px;
    background-color: rgb(236, 58, 132);
    border-radius: 22px;
}

div#status-res{
    width: 200.6px;
    height: 15px;
    background-color: rgb(236, 58, 132);
    border-radius: 22px;
}

div#status-pro{
    width: 59px;
    height: 15px;
    background-color: rgb(236, 58, 132);
    border-radius: 22px;
}

div#status-cri{
    width: 188.8px;
    height: 15px;
    background-color: rgb(236, 58, 132);
    border-radius: 22px;
}

div#status-ing{
    width: 59px;
    height: 15px;
    background-color: rgb(236, 58, 132);
    border-radius: 22px;
}

div#status-esp{
    width: 106.2px;
    height: 15px;
    background-color: rgb(236, 58, 132);
    border-radius: 22px;
}


